<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Crowd Funding</title>

	<script src="{% static "js/ckeditor.js" %}"></script>
	<script src="{% static "js/config.js" %}"></script>
	<script src="{% static "js/sample.js" %}"></script>
	<script src="{% static "js/styles.js" %}"></script>
	<script src="{% static "js/lang/ko.js" %}"></script>
	<script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "js/skins/moono/editor.css" %}">
	<link rel="stylesheet" href="{% static "css/samples.css" %}">
	<link rel="stylesheet" href="{% static "css/neo.css" %}">
	<link href="{% static "css/carousel.css" %}" rel="stylesheet">
</head>
<body style="background-color:#EDEDED;">
	<header>
	<!--네비게이션바-->
	 <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">친절한 겨자씨</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">겨자씨 보기 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">- 공연</a></li>
                    <li><a href="#">- 선교</a></li>
                    <li><a href="#">- 프로젝트</a></li>
                    <li><a href="#">- 후원</a></li>
                  </ul>
                </li>
                <li><a href="#about">겨자씨 만들기</a></li>
                <li><a href="#contact">About Us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" style="margin-right:20px">
                   {% if user == None%}
                <li class="active"><a href="/Login">Login</a></li>
              	{% else %}
                <li class="active"><a href="/Write">Write</a></li>
                 <li class="active"><a href="/logout">Logout</a></li>
              	
                {% endif%}
             
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    </header>
    <div class="col-md-1"></div>
    <table class="col-md-10">
    <tr>
      <th class="col-md-2"> 작성자 </th>
      <td class="col-md-8"> {{write.user.Name}} </td>
    
    </tr>
    <tr>
      <th class="col-md-2"> 프로젝트명</th>
      <td class="col-md-8"> {{write.Name}} </td>
    </tr>
    <tr>
      <th class="col-md-2"> 분류</th>
      <td class="col-md-8"> {{write.distribute}} </td>
    </tr>
    <tr>
      <th class="col-md-2"> 기한</th>
      <td class="col-md-8"> {{write.duedate}} </td>
    </tr>
    <tr>
      <th class="col-md-2"> 계좌번호</th>
      <td class="col-md-8"> {{write.bank}} </td>
    </tr>
    <tr>
    	  <th class="col-md-2"> 돈 </th>
    	  
    	  <td class="col-md-8"> {{write.money}}
    	  <div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="{{per}}" aria-valuemin="0" aria-valuemax="100" style="width: {{per}}%;">
  				  {{per}}%
  			</div>
			</div> </td>
    
    </tr>
    <tr>
      <th class="col-md-2"> text</th>
      <td class="col-md-8"> {{write.text}} </td>
    
    </tr>
    </table>
    <a href='/WriteInfo'><input type="button" value="결제하기" style="margin-left: 200px;" class="btn btn-info"></a>
  <a onclick="location.href='./"><input type="button" value="취소" style="margin-left:80px;" class="btn btn-danger"></a>

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "js/holder.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>